<a href="https://colab.research.google.com/github/afnanrahman/EAFP/blob/OmerAndKevin/categoryaccuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split

In [64]:
data = pd.read_csv("https://raw.githubusercontent.com/afnanrahman/EAFP/main/data/clean_smote_data.csv")
data

       Unnamed: 0    age  ...  rate_avg  attrition
0        0.000000  41.00  ...   6891.67        1.0
1        1.000000  49.00  ...   8415.67        0.0
2        2.000000  37.00  ...   1287.00        1.0
3        3.000000  33.00  ...   8202.33        0.0
4        4.000000  27.00  ...   5754.33        0.0
...           ...    ...  ...       ...        ...
2461  1206.818985  33.12  ...   4598.85        1.0
2462  1040.748336  34.31  ...   5904.94        1.0
2463   390.753668  26.13  ...   2414.23        1.0
2464  1271.359504  41.32  ...   3885.08        1.0
2465   579.308811  23.80  ...   1571.88        1.0

[2466 rows x 32 columns]

##Demographics
* age
* distance_from_home
* education
* education_field
* gender
* marital_status
* total_working_years

##Type of Job
* department
* job_involvement
* job_level
* job_role
* job_satisfaction
* training_times_last_year
* business_travel

##Financial Factors
* rate_avg
* percent_salary_hike
* stock_option_level
* over_time

##Life at Work
* years_with_curr_manager
* work_life_balance
* environment_satisfaction
* performance_rating

In [65]:
cols = []
cols.append(['age', 'distance_from_home', 'education', 'education_field',
                    'gender', 'marital_status', 'total_working_years'])
cols.append(['department', 'job_involvement', 'job_level', 'job_role',
                 'job_satisfaction', 'training_times_last_year',
                 'business_travel'])
cols.append(['rate_avg', 'percent_salary_hike', 'stock_option_level',
                'over_time'])
cols.append(['years_with_curr_manager', 'work_life_balance',
                  'environment_satisfaction', 'performance_rating'])
demographicX = data[cols[0]]
Y = data['attrition']

In [66]:
demographicX

        age  distance_from_home  ...  marital_status  total_working_years
0     41.00                1.00  ...            2.00                 8.00
1     49.00                8.00  ...            1.00                10.00
2     37.00                2.00  ...            2.00                 7.00
3     33.00                3.00  ...            1.00                 8.00
4     27.00                2.00  ...            1.00                 6.00
...     ...                 ...  ...             ...                  ...
2461  33.12               24.12  ...            2.00                 8.87
2462  34.31                4.19  ...            2.00                 8.81
2463  26.13                2.92  ...            1.96                 6.75
2464  41.32                3.81  ...            0.13                 5.33
2465  23.80                5.76  ...            1.08                 1.72

[2466 rows x 7 columns]

In [67]:
Y

0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
2461    1.0
2462    1.0
2463    1.0
2464    1.0
2465    1.0
Name: attrition, Length: 2466, dtype: float64

In [68]:
demographicX_train, demographicX_test, demographicY_train, demographicY_test = train_test_split(demographicX, Y, test_size=0.3, random_state=42)

In [69]:
clf = svm.SVC(kernel='rbf')
clf.fit(demographicX_train, demographicY_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [70]:
demographicY_pred = clf.predict(demographicX_test)

In [71]:
clf.score(demographicX_test, demographicY_test)

0.6513513513513514

In [72]:
scores = []
for e in cols:
  X = data[e]
  Y = data['attrition']
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
  clf = svm.SVC(kernel='rbf')
  clf.fit(X_train, Y_train)
  Y_pred = clf.predict(X_test)
  scores.append(clf.score(X_test, Y_test))
scores

[0.6513513513513514,
 0.7148648648648649,
 0.4797297297297297,
 0.6648648648648648]

The paper had 85% accuracy using SVM